.label-checked {
    text-decoration: line-through;

  }
.elem{
  color: white;
  display: flex;
  justify-content: center;
  font-size: 2em;
  border: solid orangered 2px;
  }
.Shoplist{
  background-color: #514949;
  width: 60%;
  margin:2%;
}