.label-checked {
    text-decoration: line-through;

  }
.elem{
  color: white;
  display: flex;
  justify-content: center;
  font-size: 2em;
  }
.Shoplist{
  background-color: #514949;
  width: 60%;
  margin:2%;
}
.delete-button-l{
  color:red;
  margin-left: 2%;
}