.Box{
    background-color: #FF621F;
    display: flex;
    justify-content: center;
    color:white;
    margin: 2%;
    font-size: 1.2em;
    width: 70%;
    position: relative;
    border-radius: 50px;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}
.counter{
position: absolute;
  bottom: 0;
}
.delete-button{
  position: absolute;
  right: 5%;
  
}