.Mad{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: flex-end;
}
.Lists{
  width:50%;
  margin-left: 10%;
}
.orgbtn{
  position: absolute;
  right: 10%;
  bottom: 10%;;
}